# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Gradle
.build/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ/IDE
.idea/
*.iml

# Other
out/

.jqwik-database/
